{% extends 'base.html' %}
<!---->
{% block title %}
    ข้อมูลนักศึกษา
{% endblock title %}
<!---->
{% block Content %}
{{message}}
<table class="table">
    <thead>
      <tr>
        <td scope="col">ID</td>
        <td>{{ student.std_id }}</td>
      </tr>
      <tr>
        <td scope="col">PREFIX</td>
        <td>{{ student.prefix_str }}</td>
      </tr>
      <tr>
        <td scope="col">NAME</td>
        <td>{{ student.name }}</td>
      </tr>
      <tr>
        <td scope="col">LASTNAME</td>
        <td>{{ student.lastname }}</td>
      </tr>
      <tr>
        <td scope="col">PHONE</td>
        <td>{{ student.phone }}</td>

    </thead>
    <tbody>
      
    </tbody>
  </table>

<div class="row row-cols-1 m-auto">
  <div class="col">
    <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fpixabay.com%2Fvectors%2Fblank-profile-picture-mystery-man-973460%2F&psig=AOvVaw2k4d7977M4rITFId_z0EvH&ust=1691130993286000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCMjluILwv4ADFQAAAAAdAAAAABAE" alt="" srcset="">
  </div>
  <div class="col">
    <div class="row row-cols-2">
      <div class="col">{{ student.stu_id }}</div>
    </div>
  </div>

</div>

  
{% endblock Content %}
