{% extends 'base.html' %}
<!---->
{% block title %}
    ข้อมูลนักศึกษา
{% endblock title %}
<!---->
{% block Content %}
{{message}}
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">ID</th>
        <th scope="col">PREFIX</th>
        <th scope="col">NAME</th>
        <th scope="col">LASTNAME</th>
        <th scope="col">PHONE</th>
      </tr>
      
      {% for student in students %}
      <tr>
        <th scope="row">0</th>
        <td>{{ student.std_id }}</td>
        <td>{{ student.prefix }}</td>
        <td>{{ student.name }}</td>
        <td>{{ student.lastname }}</td>
        <td>{{ student.phone }}</td>
      </tr>
      {% endfor %}

    </thead>
    <tbody>
      
    </tbody>
  </table>
{% endblock Content %}
